@use 'sass:map';

@import '@scss/tokens';

$board-body: map.get($palette, 'board-body');

.popover {
  background-color: #fff;
  padding: map.get($spacing, '4');
  border-radius: map.get($radii, 'md');
  box-sizing: border-box;
  width: max-content;
  max-width: calc(100vw - 10px);

  &:after {
    content: '';
    position: absolute;
    border: map.get($spacing, '3') solid #fff;
    border-color: transparent;
  }

  &:before {
    content: '';
    position: absolute;
    border: map.get($spacing, '3') solid $board-body;
    border-color: transparent;
  }

  &.top:after {
    border-top-color: white;
    top: 100%;
    margin-top: -1px;

    /* horizontally center */
    left: 50%;
    transform: translateX(-50%);
  }

  &.top:before {
    top: 100%;
    margin-top: 0;
    border-top-color: $board-body;
    /* horizontally center */
    left: 50%;
    transform: translateX(-50%);
  }

  &.right:after {
    border-color: white;
    /* position tooltip correctly */
    left: 100%;
    margin-left: -1px;

    /* vertically center */
    top: 50%;
    transform: translateY(-50%);
  }

  &.right:before {
    margin-left: 0;
    left: 100%;
    border-right-color: $board-body;
    /* vertically center */
    top: 50%;
    transform: translateY(-50%);
  }

  &.bottom:after {
    border-bottom-color: white;
    bottom: 100%;
    margin-bottom: -1px;

    /* horizontally center */
    left: 50%;
    transform: translateX(-50%);
  }

  &.bottom:before {
    bottom: 100%;
    margin-bottom: 0;
    border-bottom-color: $board-body;
    /* horizontally center */
    left: 50%;
    transform: translateX(-50%);
  }

  &.left:after {
    border-left-color: white;
    right: 100%;
    margin-right: -1px;

    /* vertically center */
    top: 50%;
    transform: translateY(-50%);
  }

  &.left:before {
    right: 100%;
    margin-right: -1px;
    border-left-color: $board-body;
    /* vertically center */
    top: 50%;
    transform: translateY(-50%);
  }
}
