@use 'sass:map';
@import '@scss/theme';

$bg-hover: map.get($palette, 'bg-hover');
$bg-focus: map.get($palette, 'bg-focus');

.popover.cell-action {
  background: $bg-hover;
  border: 1px solid $bg-focus;

  button {
    height: 24px;
    width: 24px;
  }

  &.top:after {
    border-top-color: $bg-hover;
  }
  &.top:before {
    border-top-color: $bg-focus;
  }

  &.right:after {
    border-right-color: $bg-hover;
  }
  &.right:before {
    border-right-color: $bg-focus;
  }

  &.bottom:after {
    border-bottom-color: $bg-hover;
  }
  &.bottom:before {
    border-bottom-color: $bg-focus;
  }

  &.left:after {
    border-left-color: $bg-hover;
  }

  &.left:before {
    border-left-color: $bg-focus;
  }
}
