@use 'sass:map';

@import '@scss/theme';
@import '@scss/tokens';

$btn-primary: map.get($borders, 'info');
$btn-secondary: map.get($borders, 'light');
$btn-error: map.get($borders, 'error');
$btn-success: map.get($borders, 'success');

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border-radius: map.get($spacing, '1');
  transition: all 0.2s ease-in-out;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    background-color: map.get($background, 'primary');
  }

  &.xs {
    padding: map.get($spacing, 'px') map.get($spacing, '1');
    font-size: map.get($font-sizes, 'xs');

    svg {
      width: map.get($font-sizes, 'xs');
    }
  }
  &.sm {
    padding: map.get($spacing, '1') map.get($spacing, '2');
    font-size: map.get($font-sizes, 'sm');

    svg {
      width: map.get($font-sizes, 'sm');
    }
  }
  &.md {
    padding: map.get($spacing, '2') map.get($spacing, '4');
    font-size: map.get($font-sizes, 'md');

    svg {
      width: map.get($font-sizes, 'md');
    }
  }
  &.lg {
    padding: map.get($spacing, '3') map.get($spacing, '5');
    font-size: map.get($font-sizes, '2xl');

    svg {
      width: map.get($font-sizes, '2xl');
    }
  }

  &.text {
    background-color: transparent;
    border-color: transparent;

    &.primary {
      color: $btn-primary;
    }
    &.secondary {
      color: $btn-secondary;
    }
    &.error {
      color: $btn-error;
    }
    &.success {
      color: $btn-success;
    }
  }

  &.outline {
    color: #fff;
    border-width: 1px;
    background-color: #fff;

    &.primary {
      border-color: $btn-primary;
      color: $btn-primary;
    }
    &.secondary {
      border-color: $btn-secondary;
      color: $btn-secondary;
    }
    &.error {
      border-color: $btn-error;
      color: $btn-error;
    }
    &.success {
      border-color: $btn-success;
      color: $btn-success;
    }
  }

  &.filled {
    color: #fff;
    border: none;

    &.primary {
      background-color: $btn-primary;
    }
    &.secondary {
      background-color: $btn-secondary;
    }
    &.error {
      background-color: $btn-error;
    }
    &.success {
      background-color: $btn-success;
    }
  }
}
