@use 'sass:map';
@import './scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: map.get($blue, '500');
  transition: color 300ms ease;
  &:hover {
    color: map.get($blue, '700');
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  color: map.get($gray, '700');
  font-weight: semibold;
  text-align: left;
}
h1 {
  font-size: map.get($font-sizes, '4xl');
}
h2 {
  font-size: map.get($font-sizes, '3xl');
}
h3 {
  font-size: map.get($font-sizes, '2xl');
}
h4 {
  font-size: map.get($font-sizes, 'xl');
}
h5 {
  font-size: map.get($font-sizes, 'md');
}
h6 {
  font-size: map.get($font-sizes, 'sm');
}
b,
strong {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
[role='button'] {
  cursor: pointer;
}
div {
  box-sizing: border-box;
}
