@use 'sass:map';
@import 'theme';

$text: (
  'primary': map.get($gray, '700'),
  'secondary': map.get($gray, '500'),
  'disabled': map.get($gray, '300'),
  'success': map.get($green, '700'),
  'warning': map.get($orange, '700'),
  'error': map.get($red, '700'),
  'info': map.get($blue, '700'),
);

$borders: (
  'primary': map.get($gray, '300'),
  'light': map.get($gray, '200'),
  'heavy': map.get($gray, '400'),
  'success': map.get($green, '700'),
  'warning': map.get($orange, '700'),
  'error': map.get($red, '700'),
  'info': map.get($blue, '700'),
);

$background: (
  'primary': map.get($gray, '50'),
  'secondary': map.get($gray, '100'),
  'success': map.get($green, '100'),
  'warning': map.get($orange, '100'),
  'error': map.get($red, '50'),
  'info': map.get($blue, '50'),
);
