@use 'sass:map';

@import 'theme';
@import 'tokens';
@import 'mixin';

@include generate-class(display, block, flex, inline-flex, inline-block, grid);
@include generate-class(
  flex-direction,
  row,
  column,
  row-reverse,
  column-reverse
);

@include generate-class(align-items, center, stretch, flex-start, flex-end);
@include generate-class(
  justify-content,
  center,
  stretch,
  flex-start,
  flex-end,
  space-around,
  space-between
);
@include generate-class(text-align, center, left, right);
@include generate-from-map(color, $text, color);
@include generate-from-map(border-color, $borders, border-color);
@include generate-from-map(border-left-color, $borders, border-left-color);
@include generate-from-map(border-right-color, $borders, border-right-color);
@include generate-from-map(border-top-color, $borders, border-top-color);
@include generate-from-map(border-bottom-color, $borders, border-bottom-color);

@include generate-from-map(color, $palette, color);
@include generate-from-map(border-color, $palette, border-color);
@include generate-from-map(border-left-color, $palette, border-left-color);
@include generate-from-map(border-right-color, $palette, border-right-color);
@include generate-from-map(border-top-color, $palette, border-top-color);
@include generate-from-map(border-bottom-color, $palette, border-bottom-color);

@include generate-from-map(top, $spacing, top);
@include generate-from-map(left, $spacing, left);
@include generate-from-map(bottom, $spacing, bottom);
@include generate-from-map(right, $spacing, right);
@include generate-from-map(bg, $spacing, background);
@include generate-from-map(bg, $palette, background);
@include generate-from-map(gap, $spacing, gap);
@include generate-from-map(p, $spacing, padding);
@include generate-from-map(pl, $spacing, padding-left);
@include generate-from-map(pr, $spacing, padding-right);
@include generate-from-map(pt, $spacing, padding-top);
@include generate-from-map(pb, $spacing, padding-bottom);
@include generate-from-map(m, $spacing, margin);
@include generate-from-map(ml, $spacing, margin-left);
@include generate-from-map(mr, $spacing, margin-right);
@include generate-from-map(mt, $spacing, margin-top);
@include generate-from-map(mb, $spacing, margin-bottom);
@include generate-from-map(mx, $spacing, margin-left, margin-right);
@include generate-from-map(my, $spacing, margin-top, margin-bottom);
@include generate-from-map(width, $spacing, width);
@include generate-from-map(max-width, $spacing, max-width);
@include generate-from-map(max-height, $spacing, max-height);
@include generate-percentiles(width, 25, 50, 75);
@include generate-percentiles(max-width, 25, 50, 75);
@include generate-percentiles(height, 25, 50, 75);
@include generate-percentiles(max-height, 25, 50, 75);
@include generate-percentiles(opacity, 10, 25, 50, 60, 75, 90);
@include generate-from-map(height, $spacing, height);
@include generate-from-map(border-radius, $radii, border-radius);
@include generate-from-map(
  border-top-left-radius,
  $radii,
  border-top-left-radius
);
@include generate-from-map(
  border-top-right-radius,
  $radii,
  border-top-right-radius
);
@include generate-from-map(
  border-bottom-left-radius,
  $radii,
  border-bottom-left-radius
);
@include generate-from-map(
  border-bottom-right-radius,
  $radii,
  border-bottom-right-radius
);

@include generate-class(height, auto);
@include generate-class(width, auto);
@include generate-class(position, absolute, relative, fixed, static);
@include generate-from-map(font-size, $font-sizes, font-size);
@include generate-class(overflow, auto, hidden);
@include generate-class(whitespace, nowrap, normal, break-spaces);
@include generate-grid(grid-template-columns, 25);

@include generate-from-map-multi(px, $spacing, padding-left, padding-right);
@include generate-from-map-multi(py, $spacing, padding-top, padding-bottom);

.p-2px {
  padding: 2px;
}

.border-none {
  border-width: 0px;
}

@include generate-border(
  border border-left border-right border-top border-bottom,
  solid dashed
);

.flex-grow-1 {
  flex-grow: 1;
}

.cursor-pointer {
  cursor: pointer;
}
